<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" name="viewport"
    content="width=device-width, initial-scale=1.0">
<title>Dating App</title>
<link rel="icon" type="image/x-icon" th:href="@{FE/favicon/favicon.ico}">
<link rel="stylesheet" type="text/css"
    th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{FE/css/home.css}" />
<link rel="stylesheet" type="text/css" th:href="@{BE/dashboard.css}" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css"
    th:href="@{FE/fontawesome/css/all.css}" />
</head>
<body id="body-home">

    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-nav"
            style="margin-right: 25px;">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler" type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->

                    <div class="text-logo">
                        <h1 style="font-family: Impact, fantasy">
                            <a class="text-logo atag" th:href="@{/home}" ><i class="fas fa-heart"></i> F-Love </a> Management 
                        </h1>

                    </div>
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"
                        style="margin-left: 20px">
                        <li class="nav-item text ml-5"><a class="nav-link text" th:href="@{/management/roles}"> <h6 class="text">Roles Manager</h6> </a></li>
                        <li class="nav-item text ml-5"><a class="nav-link text" th:href="@{/management/users}"> <h6 class="text">Users Manager </h6> </a></li>
                    </ul>
                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->

                <!-- Right elements -->
                <div class="d-flex col-md-2 pr-0 pl-0">
                <!-- Avatar -->
                <div class="dropdown show nav-user d-flex" >
                    <h6 class="text mr-3 pt-2">Welcome: Admin</h6>
                    <img class="nav-user-ava" alt="" th:src="@{FE/img/ava4.jpg}">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" th:href="@{/management}">Management</a>
                      </div>
                </div>
            </div>
                <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>

        <div style="display: flex;">
            <section class="text-center" style="width: 1920px;">
                <div class="card shadow-5-strong justify-content-center border"
                    style="background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(100px); margin: 5px">
                    <div class="card-body py-2 px-md-2" style="height: 850px">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-8">
                                    <div class = "col-lg-12 text-center">
                                        <h1 class="dashboard-text">Dashboardeeeee</h1>
                                    </div>
                                    
                                    
                                    
                                   	<template>
									  <div class="text-center section">
									    <h2 class="h2">Custom Calendars</h2>
									    <p class="text-lg font-medium text-gray-600 mb-6">
									      Roll your own calendars using scoped slots
									    </p>
									    <v-calendar
									      class="custom-calendar max-w-full"
									      :masks="masks"
									      :attributes="attributes"
									      disable-page-swipe
									      is-expanded
									    >
									      <template v-slot:day-content="{ day, attributes }">
									        <div class="flex flex-col h-full z-10 overflow-hidden">
									          <span class="day-label text-sm text-gray-900">{{ day.day }}</span>
									          <div class="flex-grow overflow-y-auto overflow-x-auto">
									            <p
									              v-for="attr in attributes"
									              :key="attr.key"
									              class="text-xs leading-tight rounded-sm p-1 mt-0 mb-1"
									              :class="attr.customData.class"
									            >
									              {{ attr.customData.title }}
									            </p>
									          </div>
									        </div>
									      </template>
									    </v-calendar>
									  </div>
									</template>




                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
    </div>
    <script>export default {
  data() {
    const month = new Date().getMonth();
    const year = new Date().getFullYear();
    return {
      masks: {
        weekdays: 'WWW',
      },
      attributes: [
        {
          key: 1,
          customData: {
            title: 'Lunch with mom.',
            class: 'bg-red-600 text-white',
          },
          dates: new Date(year, month, 1),
        },
        {
          key: 2,
          customData: {
            title: 'Take Noah to basketball practice',
            class: 'bg-blue-500 text-white',
          },
          dates: new Date(year, month, 2),
        },
        {
          key: 3,
          customData: {
            title: "Noah's basketball game.",
            class: 'bg-blue-500 text-white',
          },
          dates: new Date(year, month, 5),
        },
        {
          key: 4,
          customData: {
            title: 'Take car to the shop',
            class: 'bg-indigo-500 text-white',
          },
          dates: new Date(year, month, 5),
        },
        {
          key: 4,
          customData: {
            title: 'Meeting with new client.',
            class: 'bg-teal-500 text-white',
          },
          dates: new Date(year, month, 7),
        },
        {
          key: 5,
          customData: {
            title: "Mia's gymnastics practice.",
            class: 'bg-pink-500 text-white',
          },
          dates: new Date(year, month, 11),
        },
        {
          key: 6,
          customData: {
            title: 'Cookout with friends.',
            class: 'bg-orange-500 text-white',
          },
          dates: { months: 5, ordinalWeekdays: { 2: 1 } },
        },
        {
          key: 7,
          customData: {
            title: "Mia's gymnastics recital.",
            class: 'bg-pink-500 text-white',
          },
          dates: new Date(year, month, 22),
        },
        {
          key: 8,
          customData: {
            title: 'Visit great grandma.',
            class: 'bg-red-600 text-white',
          },
          dates: new Date(year, month, 25),
        },
      ],
    };
  },
};
    </script>
    
    <!-- <script type="text/javascript">
        var app = new Vue({
            el : '#app',
            data : {
                message : "Life is the flower for which love is the honey"
            }
        })
    </script> -->
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</body>
</html>