<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
    <header th:fragment="header(active)">
        <nav class="navbar navbar-light bg-light border-navmr-1  col-12 pr-0">
            <!-- Container wrapper -->
            <div class="container-fluid row ">
                <!-- Toggle button -->
    
                <!-- Collapsible wrapper -->
                <div class="row col-8 col-sm-6 col-md-8" id="navbarSupportedContent">
                    <!-- Navbar brand -->
    
                    <div class="text-logo">
                        <h1 class="text-logo mt-2">
                            <a class="atag" th:href="@{/home}"><i class="fas fa-heart"></i>F-Love </a>
                        </h1>
                    </div>
                    
                    <!-- Left links -->
                    <div class="mb-2 mt-2 row ml-2 nav-lg">
                            <a th:if="${active == 'chat' }" class="nav-link active_nav_item" th:href="@{/chats}"><p class="text">Chats</p></a>
                            <a th:unless="${active == 'chat' }" class="nav-link" th:href="@{/chats}"><p class="text">Chats</p></a>
                            <a th:if="${active == 'index' }" class="nav-link active_nav_item" th:href="@{/home}"><p class="text">Find Friends</p></a>
                            <a th:unless="${active == 'index' }" class="nav-link" th:href="@{/home}"><p class="text">Find Friends</p></a>
                            <a th:if="${active == 'call' }" class="nav-link active_nav_item" th:href="@{/call}"><p class="text">Call</p></a>
                            <a th:unless="${active == 'call' }" class="nav-link" th:href="@{/call}"><p class="text">Call</p></a>
                    </div>
                    <div class="mb-2 mt-2 row ml-2 nav-sm">
                            <a th:if="${active == 'chat' }" class="nav-link active_nav_item" th:href="@{/chats}" title="Chatting"><i class="fas fa-comment-dots text"></i></a>
                            <a th:unless="${active == 'chat' }" class="nav-link " th:href="@{/chats}" title="Chatting"><i class="fas fa-comment-dots text"></i></a>
                            <a th:if="${active == 'index' }" class="nav-link active_nav_item" th:href="@{/home}" title="Find new friends"><i class="fas fa-search text"></i></a>
                            <a th:unless="${active == 'index' }" class="nav-link " th:href="@{/home}" title="Find new friends"><i class="fas fa-search text"></i></a>
                    </div>
                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->
                <!-- Right elements -->
                <div class="d-flex col-md-2 pr-0 pl-0 col-2 col-sm-3 col-md-4 text-right">
                    <!-- Avatar -->
                    <div class="dropdown show nav-user d-flex pr-0" >
                        <h6 th:if="${user}" class="text mr-3 pt-2 userName">Welcome: <span th:text="${user.userName}"></span> </h6>
                        <a th:href="@{/profile}"><img class="nav-user-ava" alt="" th:src="@{../../users/img/avatar.jpg}"></a>
                        <a class="dropdown-toggle ml-2" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" th:href="@{/profile}">Profile</a>
                            <a th:if="${user.role_id == 1}" class="dropdown-item" th:href="@{/management}">Management</a>
                            <a class="dropdown-item" th:href="@{/logout}">Log out</a>
                          </div>
                    </div>
                </div>
                <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
        </nav>
    </header>
</body>
</html>